Ich betreue Projektarbeiten, an deren Ende ein erlebbares oder erfahrbares Werk steht. Das kann eine Software, ein Film, ein Spiel, ein Kunstwerk, ein Prototyp, ein Designkonzept, eine Installation, eine App, ein Workshop, ein Event, ein Spielzeug, ein Instrument, ein Tool, ein Service, ein Produkt, ein Unternehmen, eine Organisation, eine Initiative, eine Kampagne, eine Bewegung, eine Plattform, eine Community, eine Aktion, eine Performance, eine Ausstellung, eine Website, ein Magazin, ein Podcast, ein Video, ein Blog, ein Comic, ein Festival, eine Konferenz, ein Coaching, ein Mentoring, ein Training, ein Modell, eine Visualisierung, ein Möbel, ein Kleidungsstück oder auch etwas ganz anderes sein. Es handelt sich also nicht um klassische Hausarbeiten, die ausschließlich in einem PDF-Dokument münden.

### Was muss abgegeben werden?

Neben dem Werk müssen verschiedene Artefakte abgegeben werden, die das Werk dokumentieren und die Arbeit reflektieren. Dazu gehören:

<ul class="artefact-list">
    <li><a href="artefacts#werk"><i class="icofont-fire-burn is-large"></i>Das Werk</a></li>
    <li><a href="artefacts#ausarbeitung"><i class="icofont-ebook is-large"></i>Ausarbeitung</a></li>
    <li><a href="artefacts#research-diary"><i class="icofont-video-alt is-large"></i>Research Diary</a></li>
    <li><a href="artefacts#abschlussvideo"><i class="icofont-presentation is-large"></i>Abschlussvideo</a></li>
    <li><a href="artefacts#bilddokumentation"><i class="icofont-image is-large"></i>Bilddokumentation</a></li>
</ul>

Diese bilden die Basis für die Bewertung der Arbeit. Abhängig von der Art der Arbeit (Praxisprojekt, Bachelorarbeit oder Masterarbeit) gibt es unterschiedliche Anforderungen an die Artefakte, bzw. werden nicht alle Artefakte benötigt. Weitere Informationen dazu finden Sie in den jeweiligen Erläuterungen zu den Arbeiten:
- [Praxisprojekt](types-of-work#praxisprojekt)
- [Bachelorarbeit](types-of-work#bachelorarbeit)
- [Masterarbeit](types-of-work#masterarbeit)