/* Simple
############################################################################ */
.simple {
  table {
    margin-top: var(--size-l);
    margin-bottom: var(--size-l);

    th {
      padding-bottom: var(--size-s);
      font-weight: var(--fw-medium);
      text-align: left;
    }

    tr td {
      padding: var(--size-s) var(--size-s) var(--size-s) 0;
      border-top: solid 1px var(--color-green);
    }
  }

  h3 {
    margin-top: var(--size-xxl);


    i {
      margin-right: var(--size-xs);
    }
  }

  .page{
    margin-bottom: calc(var(--size-xl) *2);
  }
}